@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500;700&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-accent: #1597ff;
  --color-accent-purple: #1597ff; 
}

:root {
  --bg-main: #ffffff;
  --bg-card: #ffffff;
  --text-main: #070707;
}

.dark {
  --bg-main: #101014;
  --bg-card: #282832;
  --text-main: #f4f4f5;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
  font-family: "IBM Plex Sans", sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-feature-settings: "rlig" 1, "calt" 1;
}